<form
  class="jotform-form"
  action="https://submit.jotform.com/submit/222268265225455/"
  method="post"
  name="form_222268265225455"
  id="222268265225455"
  accept-charset="utf-8"
  autocomplete="on"
  novalidate="true"
>
  <input type="hidden" name="formID" value="222268265225455" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <style>
      .form-all:before { background: none;} 
      
    </style>
    <ul class="form-section page-section">
      <li id="cid_26" class="form-input-wide" data-type="control_head">
        <div class="form-header-group header-large">
          <div class="header-text httal htvam">
            <h1 id="header_26" class="form-header" data-component="header">
              ข้อมูล ร้านค้าของท่าน
            </h1>
          </div>
        </div>
      </li>

      <li class="form-line" data-type="control_text" id="id_3">
        <div id="cid_3" class="form-input-wide" data-layout="full">
          <div id="text_3" class="form-html" data-component="text">
            Describe the volunteer event here. Be sure to include the name of
            your organization, the name of the event, date, time,and location.
          </div>
        </div>
      </li>
      <li id="cid_32" class="form-input-wide" data-type="control_head">
        <div class="form-header-group header-default">
          <div class="header-text httal htvam">
            <h2 id="header_32" class="form-header" data-component="header">
              ข้อมูล เจ้าของร้าน
            </h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_27">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_27"
          for="first_27"
        >
          Name
        </label>
        <div id="cid_27" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true">
            <span
              class="form-sub-label-container"
              style="vertical-align:top"
              data-input-type="first"
            >
              <input
                type="text"
                id="first_27"
                name="q27_name[first]"
                class="form-textbox"
                data-defaultvalue=""
                autocomplete="section-input_27 given-name"
                size="10"
                value=""
                data-component="first"
                aria-labelledby="label_27 sublabel_27_first"
              />
              <label
                class="form-sub-label"
                for="first_27"
                id="sublabel_27_first"
                style="min-height:13px"
                aria-hidden="false"
              >
                ชื่อ
              </label>
            </span>
            <span
              class="form-sub-label-container"
              style="vertical-align:top"
              data-input-type="last"
            >
              <input
                type="text"
                id="last_27"
                name="q27_name[last]"
                class="form-textbox"
                data-defaultvalue=""
                autocomplete="section-input_27 family-name"
                size="15"
                value=""
                data-component="last"
                aria-labelledby="label_27 sublabel_27_last"
              />
              <label
                class="form-sub-label"
                for="last_27"
                id="sublabel_27_last"
                style="min-height:13px"
                aria-hidden="false"
              >
                นามสกุล
              </label>
            </span>
          </div>
        </div>
      </li>
      <li
        class="form-line form-line-column form-col-1"
        data-type="control_email"
        id="id_28"
      >
        <label class="form-label form-label-top" id="label_28" for="input_28">
          Email
        </label>
        <div id="cid_28" class="form-input-wide" data-layout="half">
          <span class="form-sub-label-container" style="vertical-align:top">
            <input
              type="email"
              id="input_28"
              name="q28_email"
              class="form-textbox validate[Email]"
              data-defaultvalue=""
              style="width:310px"
              size="310"
              value=""
              data-component="email"
              aria-labelledby="label_28 sublabel_input_28"
            />
            <label
              class="form-sub-label"
              for="input_28"
              id="sublabel_input_28"
              style="min-height:13px"
              aria-hidden="false"
            >
              example@example.com
            </label>
          </span>
        </div>
      </li>
      <li
        class="form-line form-line-column form-col-2"
        data-type="control_phone"
        id="id_29"
      >
        <label
          class="form-label form-label-top"
          id="label_29"
          for="input_29_full"
        >
          Phone Number
        </label>
        <div id="cid_29" class="form-input-wide" data-layout="half">
          <span class="form-sub-label-container" style="vertical-align:top">
            <input
              type="tel"
              id="input_29_full"
              name="q29_phoneNumber[full]"
              data-type="mask-number"
              class="mask-phone-number form-textbox validate[Fill Mask]"
              data-defaultvalue=""
              autocomplete="section-input_29 tel-national"
              style="width:310px"
              data-masked="true"
              value=""
              placeholder="(000) 000-0000"
              data-component="phone"
              aria-labelledby="label_29 sublabel_29_masked"
              inputmode="text"
              maskvalue="(###) ###-####"
            />
            <label
              class="form-sub-label"
              for="input_29_full"
              id="sublabel_29_masked"
              style="min-height:13px"
              aria-hidden="false"
            >
              Please enter a valid phone number.
            </label>
          </span>
        </div>
      </li>
      <li class="form-line" data-type="control_address" id="id_30">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_30"
          for="input_30_addr_line1"
        >
          Address
        </label>
        <div id="cid_30" class="form-input-wide" data-layout="full">
          <div summary="" class="form-address-table jsTest-addressField">
            <div
              class="form-address-line-wrapper jsTest-address-line-wrapperField"
            >
              <span
                class="
                  form-address-line form-address-street-line
                  jsTest-address-lineField
                "
              >
                <span
                  class="form-sub-label-container"
                  style="vertical-align:top"
                >
                  <input
                    type="text"
                    id="input_30_addr_line1"
                    name="q30_address[addr_line1]"
                    class="form-textbox form-address-line"
                    data-defaultvalue=""
                    autocomplete="section-input_30 address-line1"
                    value=""
                    data-component="address_line_1"
                    aria-labelledby="label_30 sublabel_30_addr_line1"
                    required=""
                  />
                  <label
                    class="form-sub-label"
                    for="input_30_addr_line1"
                    id="sublabel_30_addr_line1"
                    style="min-height:13px"
                    aria-hidden="false"
                  >
                    Street Address
                  </label>
                </span>
              </span>
            </div>
            <div
              class="form-address-line-wrapper jsTest-address-line-wrapperField"
            >
              <span
                class="
                  form-address-line form-address-street-line
                  jsTest-address-lineField
                "
              >
                <span
                  class="form-sub-label-container"
                  style="vertical-align:top"
                >
                  <input
                    type="text"
                    id="input_30_addr_line2"
                    name="q30_address[addr_line2]"
                    class="form-textbox form-address-line"
                    data-defaultvalue=""
                    autocomplete="section-input_30 address-line2"
                    value=""
                    data-component="address_line_2"
                    aria-labelledby="label_30 sublabel_30_addr_line2"
                  />
                  <label
                    class="form-sub-label"
                    for="input_30_addr_line2"
                    id="sublabel_30_addr_line2"
                    style="min-height:13px"
                    aria-hidden="false"
                  >
                    Street Address Line 2
                  </label>
                </span>
              </span>
            </div>
            <div
              class="form-address-line-wrapper jsTest-address-line-wrapperField"
            >
              <span
                class="
                  form-address-line form-address-city-line
                  jsTest-address-lineField
                "
              >
                <span
                  class="form-sub-label-container"
                  style="vertical-align:top"
                >
                  <input
                    type="text"
                    id="input_30_city"
                    name="q30_address[city]"
                    class="form-textbox form-address-city"
                    data-defaultvalue=""
                    autocomplete="section-input_30 address-level2"
                    value=""
                    data-component="city"
                    aria-labelledby="label_30 sublabel_30_city"
                    required=""
                  />
                  <label
                    class="form-sub-label"
                    for="input_30_city"
                    id="sublabel_30_city"
                    style="min-height:13px"
                    aria-hidden="false"
                  >
                    City
                  </label>
                </span>
              </span>
              <span
                class="
                  form-address-line form-address-state-line
                  jsTest-address-lineField
                "
              >
                <span
                  class="form-sub-label-container"
                  style="vertical-align:top"
                >
                  <input
                    type="text"
                    id="input_30_state"
                    name="q30_address[state]"
                    class="form-textbox form-address-state"
                    data-defaultvalue=""
                    autocomplete="section-input_30 address-level1"
                    value=""
                    data-component="state"
                    aria-labelledby="label_30 sublabel_30_state"
                    required=""
                  />
                  <label
                    class="form-sub-label"
                    for="input_30_state"
                    id="sublabel_30_state"
                    style="min-height:13px"
                    aria-hidden="false"
                  >
                    State / Province
                  </label>
                </span>
              </span>
            </div>
            <div
              class="form-address-line-wrapper jsTest-address-line-wrapperField"
            >
              <span
                class="
                  form-address-line form-address-zip-line
                  jsTest-address-lineField
                "
              >
                <span
                  class="form-sub-label-container"
                  style="vertical-align:top"
                >
                  <input
                    type="text"
                    id="input_30_postal"
                    name="q30_address[postal]"
                    class="form-textbox form-address-postal"
                    data-defaultvalue=""
                    autocomplete="section-input_30 postal-code"
                    value=""
                    data-component="zip"
                    aria-labelledby="label_30 sublabel_30_postal"
                    required=""
                  />
                  <label
                    class="form-sub-label"
                    for="input_30_postal"
                    id="sublabel_30_postal"
                    style="min-height:13px"
                    aria-hidden="false"
                  >
                    Postal / Zip Code
                  </label>
                </span>
              </span>
            </div>
          </div>
        </div>
      </li>
      <li id="cid_33" class="form-input-wide" data-type="control_head">
        <div class="form-header-group header-default">
          <div class="header-text httal htvam">
            <h2 id="header_33" class="form-header" data-component="header">
              Assignment
            </h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_16">
        <div id="cid_16" class="form-input-wide" data-layout="full">
          <div id="text_16" class="form-html" data-component="text">
            Select the top 3 jobs you wish to participate in from the drop-downs
            below. You'll be notified of which job you've been assigned during
            the&nbsp;check-in.
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_dropdown" id="id_17">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_17"
          for="input_17"
        >
          1st Choice:
        </label>
        <div id="cid_17" class="form-input-wide" data-layout="half">
          <select
            class="form-dropdown"
            id="input_17"
            name="q17_1stChoice"
            style="width:310px"
            data-component="dropdown"
          >
            <option value="">Please Select</option>
            <option value="item&nbsp;1">item&nbsp;1</option>
            <option value="item&nbsp;2">item&nbsp;2</option>
            <option value="item&nbsp;3">item&nbsp;3</option>
          </select>
        </div>
      </li>
      <li class="form-line" data-type="control_dropdown" id="id_18">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_18"
          for="input_18"
        >
          2nd Choice:
        </label>
        <div id="cid_18" class="form-input-wide" data-layout="half">
          <select
            class="form-dropdown"
            id="input_18"
            name="q18_2ndChoice"
            style="width:310px"
            data-component="dropdown"
          >
            <option value="">Please Select</option>
            <option value="item&nbsp;1">item&nbsp;1</option>
            <option value="item&nbsp;2">item&nbsp;2</option>
            <option value="item&nbsp;3">item&nbsp;3</option>
          </select>
        </div>
      </li>
      <li class="form-line" data-type="control_dropdown" id="id_19">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_19"
          for="input_19"
        >
          3rd Choice:
        </label>
        <div id="cid_19" class="form-input-wide" data-layout="half">
          <select
            class="form-dropdown"
            id="input_19"
            name="q19_3rdChoice"
            style="width:310px"
            data-component="dropdown"
          >
            <option value="">Please Select</option>
            <option value="item&nbsp;1">item&nbsp;1</option>
            <option value="item&nbsp;2">item&nbsp;2</option>
            <option value="item&nbsp;3">item&nbsp;3</option>
          </select>
        </div>
      </li>
      <li id="cid_34" class="form-input-wide" data-type="control_head">
        <div class="form-header-group header-default">
          <div class="header-text httal htvam">
            <h2 id="header_34" class="form-header" data-component="header">
              Supplies
            </h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_22">
        <div id="cid_22" class="form-input-wide" data-layout="full">
          <div id="text_22" class="form-html" data-component="text">
            We will provide work gloves and refreshments. We are still in need
            of the items listed below. Please check the box next to any item(s)
            you can loan or donate.
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_checkbox" id="id_23">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_23"
          for="input_23"
        >
          Available Supplies:
        </label>
        <div id="cid_23" class="form-input-wide" data-layout="full">
          <div
            class="form-multiple-column"
            data-columncount="2"
            role="group"
            aria-labelledby="label_23"
            data-component="checkbox"
          >
            <span class="form-checkbox-item">
              <span class="dragger-item"> </span>
              <input
                type="checkbox"
                aria-describedby="label_23"
                class="form-checkbox"
                id="input_23_0"
                name="q23_availableSupplies[]"
                value="rake"
              />
              <label id="label_input_23_0" for="input_23_0"> rake </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item"> </span>
              <input
                type="checkbox"
                aria-describedby="label_23"
                class="form-checkbox"
                id="input_23_1"
                name="q23_availableSupplies[]"
                value="shovel"
              />
              <label id="label_input_23_1" for="input_23_1"> shovel </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item"> </span>
              <input
                type="checkbox"
                aria-describedby="label_23"
                class="form-checkbox"
                id="input_23_2"
                name="q23_availableSupplies[]"
                value="trash bags"
              />
              <label id="label_input_23_2" for="input_23_2"> trash bags </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item"> </span>
              <input
                type="checkbox"
                aria-describedby="label_23"
                class="form-checkbox"
                id="input_23_3"
                name="q23_availableSupplies[]"
                value="paper towels"
              />
              <label id="label_input_23_3" for="input_23_3">
                paper towels
              </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item"> </span>
              <input
                type="checkbox"
                aria-describedby="label_23"
                class="form-checkbox"
                id="input_23_4"
                name="q23_availableSupplies[]"
                value="soil"
              />
              <label id="label_input_23_4" for="input_23_4"> soil </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item"> </span>
              <input
                type="checkbox"
                aria-describedby="label_23"
                class="form-checkbox"
                id="input_23_5"
                name="q23_availableSupplies[]"
                value="cookies"
              />
              <label id="label_input_23_5" for="input_23_5"> cookies </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_25">
        <div id="cid_25" class="form-input-wide" data-layout="full">
          <div
            data-align="auto"
            class="
              form-buttons-wrapper form-buttons-auto
              jsTest-button-wrapperField
            "
          >
            <button
              id="input_25"
              type="submit"
              class="
                form-submit-button
                submit-button
                jf-form-buttons
                jsTest-submitField
              "
              data-component="button"
              data-content=""
            >
              Submit
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
    JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
    JotForm.poweredByText = "Powered by Jotform";
  </script>
  <input
    type="hidden"
    class="simple_spc"
    id="simple_spc"
    name="simple_spc"
    value="222268265225455-222268265225455"
  />
  <script type="text/javascript">
      var all_spc = document.querySelectorAll("form[id='222268265225455'] .si" + "mple" + "_spc");
    for (var i = 0; i < all_spc.length; i++)
    {
      all_spc[i].value = "222268265225455-222268265225455";
    }
  </script>
  <div class="formFooter-heightMask"></div>
  <div class="formFooter f6 branding21">
    <div class="formFooter-wrapper formFooter-leftSide">
      <a
        href="https://www.jotform.com/?utm_source=formfooter&amp;utm_medium=banner&amp;utm_term=222268265225455&amp;utm_content=jotform_logo&amp;utm_campaign=powered_by_jotform_le"
        target="_blank"
        class="formFooter-logoLink"
        ><img
          class="formFooter-logo"
          src="https://cdn.jotfor.ms/assets/img/logo2021/jotform-logo-white.svg"
          alt="Jotform Logo"
          style="height: 44px;"
      /></a>
    </div>
    <div class="formFooter-wrapper formFooter-rightSide">
      <span class="formFooter-text">
        Now create your own Jotform - It's free!
      </span>
      <a
        class="formFooter-button"
        href="https://www.jotform.com/?utm_source=formfooter&amp;utm_medium=banner&amp;utm_term=222268265225455&amp;utm_content=jotform_button&amp;utm_campaign=powered_by_jotform_le"
        target="_blank"
        >Create your own Jotform</a
      >
    </div>
  </div>
  <input
    type="hidden"
    name="event_id"
    value="1660616145270_222268265225455_BKyksc5"
  />
</form>
